<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>Task Setter</title>
</head>
<body>
    <header>
        <h1>Asana to Todoist</h1>
    </header>  
    <div class="main">
        <button onclick="window.open('/auth-asana', '_blank').focus()">
            Connect to Asana
        </button>
        <a href="/tasks">View Tasks</a>
    </div>
</body>
</html>